@font-face {
  font-family: "Rousseau-Deco-2";
  src: url("Rousseau-Deco-2.ttf");
}

@font-face {
  font-family: "FiraCode-VF";
  src: url("FiraCode-VF.ttf");
}

* {
  overflow-wrap: break-word;
  scroll-behavior: smooth !important;
  scroll-margin-top: 10vh;
  transition: background ease-in-out 0.3s, border ease-in-out 0.3s,
    box-shadow ease-in-out 0.3s;
}

code {
  font-family: "FiraCode-VF" !important;
}

.markdown-body {
  background-color: transparent;
}

.katex-mathml {
  display: none;
}

.katex-block {
  overflow: auto;
}

.mermaid {
  background: transparent !important;

  & > svg {
    display: block;
    margin: auto;
  }
}

[data-theme="dark"] {
  .mermaid-light.init {
    display: none;
  }
  .mermaid-dark.init {
    display: block;
  }
}

[data-theme="light"] {
  .mermaid-light.init {
    display: block;
  }
  .mermaid-dark.init {
    display: none;
  }
}

[data-theme="dark"] {
  .theme-switch {
    .sun {
      display: none;
    }
    .moon {
      display: block;
    }
  }
}

[data-theme="light"] {
  .theme-switch {
    .sun {
      display: block;
    }
    .moon {
      display: none;
    }
  }
}

.hljs {
  background-color: transparent !important;
  padding: 16px !important;
}

pre:has(.hljs) {
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);

  #header-box {
    display: flex;
    padding: 16px 32px;
    align-items: center;
    border-bottom: 1px solid var(--borderColor-muted);
    box-shadow: 0 0 16px 0 var(--borderColor-default);
    gap: 16px;
    z-index: 1;

    #header {
      margin: 0;
      font-family: "Rousseau-Deco-2";
      font-size: 2em;
      margin-bottom: -10px;

      a {
        color: var(--fgColor-default);
        text-decoration: none;
        will-change: color;
        transition: color ease 0.3s;

        &:hover {
          color: var(--fgColor-accent);
        }
      }
    }

    .github {
      margin-left: auto;
      font-size: 1.2em;

      a {
        color: var(--fgColor-default);
        text-decoration: none;
        will-change: color;
        transition: color ease 0.3s;

        &:hover {
          color: var(--fgColor-accent);
        }
      }
    }

    .random-btn,
    .theme-switch {
      padding: 8px;
      border-radius: 50%;
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: var(--bgColor-muted);
      }
    }
  }

  #app {
    display: flex;
    flex: 1;
    overflow: auto;

    #main {
      flex: 1;
      padding: 16px;
      overflow: auto;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        & > a.header-anchor {
          opacity: 0;
          margin-left: 16px;
          will-change: opacity;
          transition: opacity 0.3s;
        }

        &:hover > a.header-anchor {
          opacity: 1;
        }
      }
    }

    #content {
      border-right: 1px solid var(--borderColor-default);
    }

    #toc {
      border-left: 1px solid var(--borderColor-default);
    }

    #content,
    #toc {
      padding: 16px;
      width: 256px;
      overflow: auto;
      will-change: width, padding;
      transition: width 0.5s, padding 0.5s;
    }

    @media (max-width: 960px) {
      #content {
        padding: 0;
        border-width: 0;
        width: 0;
        overflow: hidden;
      }
    }

    @media (max-width: 640px) {
      #toc {
        padding: 0;
        border-width: 0;
        width: 0;
        overflow: hidden;
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:target {
  animation: blink 0.5s ease 1s 3 both;
}
